@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #2c3e50, #1d1d1d);
  background-attachment: fixed;
  overflow-y: hidden;
}

#container {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  min-width: 350px;
  max-width: 1000px;
  margin: 0 auto 0 auto;
  color: #e74c3c;
  z-index: 4;
  position: relative;
  height: 100%;
}

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.widget {
  background: white;
  min-height: 22em;
  width: 22em;
  position: absolute;
  color: rgba(0, 0, 0, .75);
  font-family: 'Varela Round', sans-serif;
  display: flex;
  flex-flow: column;
  transition: all 200ms ease;
  border: double;
  border-width: .4em;
  z-index: 3;
}

.row {
  flex: 1;
  display: flex;
  align-items: center;
  z-index: 2;
  font-size: 1.24em;
  min-height: 3em;
  margin: 0;
  max-height: 3em;
  flex-flow: rowrap;
  background: inherit;
}

#art {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  max-height: none;
  background: url('http://images.musictimes.com/data/images/full/54304/pusha-t-darkest-before-dawn.jpg?w=775') center;
  background-size: cover;
  filter: grayscale(100%);
  z-index: 1;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

#progressBar {
  max-height: .24em;
  background: none;
  display: inline;
}

#bar {
  width: 28%;
  height: .24em;
  background: currentColor;
  transition: all 200ms ease;
}

.spacer {
  flex-grow: 1;
}

#playerCtrl {}

.i {
  transition: all 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .64em;
}

.i:active {
  font-size: 85%;
}

#trackInfo {
  flex: 1;
  text-align: center;
  z-index: 3;
  padding: 0.95fem;
}

#center,
#left,
#right {
  flex: 1;
  display: flex;
  justify-content: center;
}

input,
button {
  color: inherit;
  flex: 1;
  margin: 0;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 1em;
}

input {
  color: inherit;
  background: rgba(250, 250, 250, .45);
  text-align: center;
  flex: 2;
}

button {
  background: none;
}

#test {
  display: hidden;
}

#e {
  padding-left: .32em;
  padding-right: .32em;
  background: inherit;
  overflow: hidden;
  height: 0em;
  flex: 1;
  min-height: 3;
  max-height: 0;
  transition: all 500ms;
}

canvas {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  transiiton: all 500ms;
}