@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}

* {
    margin: 0;
}
canvas {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;

  transiiton: all 500ms;
}
html, body {
  margin: 0 0 0 0;
  background: #424759;
}
#container {
  position: absolute;
  left: 2vw;
  top: 0;
  height: 100vh;
  width: 60vw;
  max-width: 600px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  color: #e74c3c;
  font-family: 'Raleway', sans-serif;
  z-index: 8;
}
#top {
  max-height: 3em;
  line-height: 3em;
  padding: 0 12px 0 12px;
  flex: 1;
  margin-top: 12px;
  margin-bottom: 12px;
  border: solid;
  border-width: 1px;
  display: flex;
}
#bottom {
  flex-grow: 1;
  margin-bottom: 12px;
  padding: 6px;
  border: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all 300ms ease-out;
  transition-delay: 1s;
}
#bottom:hover {
  opacity: 1;
  transition-delay: 0s;
}
#feed {
  flex: 1;
}
#top ul {
  list-style: none;
  flex: 1;
  text-align: right;
  
}
#top ul li {
  display: inline;
  padding: 0 6px 0 6px;
}
#logo {
  display: inline;
}
#ui_bottom_container {
  display: flex;
}

#urlInputBar {
  flex: 4;
}
#streamSubmit {
  flex: 1;
}
#urlInputBar, streamSubmit {
  line-height: 3em;
  background: none;
  background: none;
  border: solid;
  border-color: #e74c3c;
  border-width: 1px;
  color: inherit;
  text-align: center;
  padding: 0 12px 0 12px;
}
button {
  background: none;
  border: solid;
  border-color: #e74c3c;
  border-width: 1px;
  color: inherit;
}
.t{
  font-size: 1.4em;
}
#trackInfo {
  text-align: center;
}
